LINGODOTDEV_API_KEY=replace-with-your-lingo-api-key
GOOGLE_TTS_API_KEY=replace-with-your-google-tts-api-key
GOOGLE_TTS_VOICE_NAME=
GOOGLE_STT_API_KEY=replace-with-your-google-stt-api-key
GOOGLE_STT_REGION=asia-south1
GOOGLE_STT_MODEL=short
GOOGLE_CLOUD_PROJECT_ID=replace-with-your-google-cloud-project-id
